extends layout.pug 

block goHome
    li
        a(href="/") Home
block upload
    li 
        a(href="/videos/upload") Upload Video 
block content
    video(src=`/${video.fileUrl}`, controls, width="400", height="270") 
    div
        p=video.description
        small=video.createdAt
    div 
        small Uploaded by 
            a(href=`/users/${video.owner._id}`) #{video.owner.name}
    if String(video.owner._id) === String(loggedInUser._id) 
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;
